#playField {
    height: 399px;
    width: 798px;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    display: flex;
    flex-direction: row;
}

.image {
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}